Source: audapa
Section: python
Priority: optional
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/audapa
X-Python3-Version: >= 3.8

Package: audapa
Architecture: all
Multi-Arch: foreign
Depends: gir1.2-gtk-4.0, gir1.2-glib-2.0, python3-pyaudio, python3-appdirs, python3-cairo, python3-gi, python3:any (>= 3.8~)
#                                       , ${misc:Depends}, ${python3:Depends}
Description: Audio wave file manipulator
